.map {
  position: relative;
  margin: 32px auto;
  width: 512px;
  height: 512px;
  color: rgba(255, 255, 255, .2);
  display: flex;
  flex-wrap: wrap;
  overflow: hidden;
}

space {
  position: relative;
  width: 32px;
  height: 32px;
  background-color: #665044;
  font-size: 10px;
}

.rock { background-color: #848282; }
.water { background-color: #46c; }
.snow { background-color: #fff; }
