<div class="map"
  [style.top]="(mapService.current.positionY * 32) + 'px'"
  [style.left]="(mapService.current.positionX * 32) + 'px'"
>
  <space
    *ngFor="let space of mapService.current.data"
    [class]="space.type"
    [class.fading]="!space.visible"
    [class.visible]="space.visible"
    [style.top]="(space.positionY * 32) - 32 + 'px'"
    [style.left]="(space.positionX * 32) - 32 + 'px'"
  >
  </space>
  <hunter
    [style.left]="(hunterService.hunterX * 32) - 32 + 'px'"
    [style.top]="(hunterService.hunterY * 32) - 32 + 'px'"
  >
  </hunter>
  <chomper
    *ngFor="let critter of critterService.critters"
    [style.left]="(critter.positionX * 32) - 32 + 'px'"
    [style.top]="(critter.positionY * 32) - 32 + 'px'"
    [hidden]="!critter.visible"
  >
  </chomper>
</div>
